.container-fluid {
  background-image:url(https://freedomhouse.org/sites/default/files/2022-11/Top_Banner2_0.png);
  
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  
}

body{
  background-color: black;
  background-image:url(https://freedomhouse.org/sites/default/files/2022-11/Top_Banner2_0.png);
}
.col-lg-9{

  margin-top: 3%;
  margin-left: 16%;
  color: rgb(255, 193, 21);
  font-size: 20px;
  font-weight: bold;

}

.col-lg-3{

  margin-left: 37%;
  margin-top: 4%;
}

h1{
  text-align:center;
  background-color: rgb(255, 193, 21);
  border: dashed rgb(255, 193, 21) 2px;
  border-radius: 10px;
  text-decoration: transparent;
  color: #000;
  font-weight: bold;

}

h5{
  margin-bottom: 2%;
  background-color: rgb(255, 193, 21);
  border: dashed rgb(255, 211, 17) 2px;
  border-radius: 10px;
  font-weight: bold;
}

.col-md-2{

margin-right: 2%;
margin-top: 2%;


}

.input-group{

  background-color: black;
  border: dashed rgb(6, 71, 168) 2px;
  border-radius: 10px;
  
}

h3{

  font-weight: bold;
}